<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center">API Music</a>
         <ul class="list" id="mobile-demo">
            <li><a href="/artist">Artist</a></li>
            <li><a href="/dashboard">Dasboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
         </ul>
    </div>
</nav>