<h3>Music App</h3>

<div class="section">
    <p class="lead">Create and view your prefer artist</p>

</div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">Log In with Google</a>
    
</div>